<div style="padding: 50px">
  <div>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="name" matInput placeholder="enter name" />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input
        [(ngModel)]="number"
        type="number"
        matInput
        placeholder="enter number"
      />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea
        [(ngModel)]="address"
        type="text"
        matInput
        placeholder="type address"
      ></textarea>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        [(ngModel)]="email"
        type="email"
        matInput
        placeholder="enter email"
      />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
  </div>
  <div>
    <mat-label style="margin-right: 10px">Gender</mat-label>
    <mat-radio-group
      [(ngModel)]="gender"
      style="width: 100%"
      aria-label="Select Gender"
    >
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button style="margin-left: 50px" value="female"
        >Female</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div style="margin-top: 20px">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input [(ngModel)]="dob" matInput [matDatepicker]="picker1" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div style="margin-top: 20px">
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="password"
        [type]="type"
        matInput
        placeholder="enter password"
      />
      <mat-icon
        (click)="type == 'password' ? (type = 'text') : (type = 'password')"
        matSuffix
      >
        {{ type == "password" ? "visibility" : "visibility_off" }}
      </mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox [(ngModel)]="agree">Do you agree?</mat-checkbox>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="country">
        <mat-option value="india">India</mat-option>
        <mat-option value="pakistan">Pakistan</mat-option>
        <mat-option value="canada"> Canada</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button (click)="onSubmitClick()" mat-button color="primary">Submit</button>
  </div>
</div>
