<div style="padding: 50px">
  <div>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Name</mat-label>
      <input
        [(ngModel)]="name"
        #nameValue="ngModel"
        matInput
        required
        minlength="5"
        maxlength="20"
        placeholder="enter name"
      />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
    <div
      style="color: red"
      *ngIf="nameValue?.touched && nameValue?.errors?.required"
    >
      Name is required.
    </div>

    <div
      style="color: red"
      *ngIf="nameValue?.touched && nameValue?.errors?.minlength"
    >
      Your name should be at least 5 char. long.
    </div>

    <div
      style="color: red"
      *ngIf="nameValue?.touched && nameValue?.errors?.maxlength"
    >
      Your name should not be more than 20 char.
    </div>
  </div>
  <div>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Age</mat-label>
      <input
        [(ngModel)]="number"
        type="number"
        min="18"
        max="52"
        matInput
        #myAge="ngModel"
        placeholder="enter number"
      />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
    <div style="color: red" *ngIf="myAge?.touched && myAge?.errors?.min">
      Value should be more than 18
    </div>
    <div style="color: red" *ngIf="myAge?.touched && myAge?.errors?.max">
      Value should not be more than 52
    </div>
  </div>

  <div>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea
        [(ngModel)]="address"
        type="text"
        matInput
        placeholder="type address"
      ></textarea>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        [(ngModel)]="email"
        type="email"
        matInput
        #myEmail="ngModel"
        email
        required
        placeholder="enter email"
      />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>

    <div *ngIf="myEmail?.touched && myEmail?.errors?.required">
      Email is required.
    </div>

    <div *ngIf="myEmail.touched && myEmail?.errors?.email">
      This is not valid email.
    </div>
  </div>
  <div>
    <mat-label style="margin-right: 10px">Gender</mat-label>
    <mat-radio-group
      [(ngModel)]="gender"
      style="width: 100%"
      aria-label="Select Gender"
    >
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button style="margin-left: 50px" value="female"
        >Female</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div style="margin-top: 20px">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input [(ngModel)]="dob" matInput [matDatepicker]="picker1" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div style="margin-top: 20px">
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="password"
        [type]="type"
        matInput
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
        #myPassword="ngModel"
        placeholder="enter password"
      />
      <mat-icon
        (click)="type == 'password' ? (type = 'text') : (type = 'password')"
        matSuffix
      >
        {{ type == "password" ? "visibility" : "visibility_off" }}
      </mat-icon>
    </mat-form-field>

    <div *ngIf="myPassword.touched && myPassword?.errors?.pattern">
      Your password does not match requirements.
    </div>
  </div>

  <div>
    <mat-checkbox [(ngModel)]="agree">Do you agree?</mat-checkbox>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="country">
        <mat-option value="india">India</mat-option>
        <mat-option value="pakistan">Pakistan</mat-option>
        <mat-option value="canada"> Canada</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button (click)="onSubmitClick()" mat-button color="primary">Submit</button>
  </div>
</div>
